/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
*::before,
*::after {
  box-sizing: border-box;
}

 * {
  margin: 0;
  padding: 0;
}

 html {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
}

 body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  word-spacing: 0px;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

 img,
picture,
svg {
  display: block;
  max-width: 100%;
}

 input,
button,
textarea,
select {
  font: inherit;
}

 h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

 h1 {
  font-size: var(--font-size-xxxl);
}

 h2 {
  font-size: var(--font-size-xxl);
}

 h3 {
  font-size: var(--font-size-xl);
}

 h4 {
  font-size: var(--font-size-l);
}

 a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary-rotate);
  }
}

 :root {
  --font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --line-height-headers: 1.1;
  --line-height-body:    1.5;

  --font-size-xs: 0.75rem;  
  --font-size-s: 0.875rem;  
  --font-size-m: 1rem;      
  --font-size-l: 1.125rem;   
  --font-size-xl: 1.25rem;   
  --font-size-xxl: 1.5rem;   
  --font-size-xxxl: 2rem;    
  --font-size-xxxxl: 2.5rem; 

  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);

  --space-xxxs: 0.25rem; 
  --space-xxs: 0.375rem; 
  --space-xs: 0.5rem;    
  --space-s: 0.75rem;    
  --space-m: 1rem;       
  --space-l: 1.5rem;     
  --space-xl: 2rem;      
  --space-xxl: 2.5rem;   
  --space-xxxl: 3rem;    
  --space-xxxxl: 4rem;   

  --color-primary:          hsl(350, 67%, 50%);
  --color-primary-rotate:   hsl(10, 73%, 54%);
  --color-primary-bg:       hsl(0, 85%, 96%);
  --color-secondary:        hsl(101, 45%, 56%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary:         hsl(49, 89%, 64%);
  --color-glint:            hsl(210, 100%, 82%);

  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);

  --border-radius: 0.375rem;

  --border: solid 2px var(--color-light);

  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

 .custom__btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

 .custom__btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

 .custom__btn:hover::before {
  animation: sh02 0.5s 0s linear;
}

 .custom__btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

 @keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

 .custom__btn:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

 .welcome__card {
  width: 300px;
  height: 200px;
  border-radius: 25px;
  background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 25px auto;
}

 .welcome__card::before {
  width: 150px;
  height: 150px;
  content: "";
  background: linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

 .card__header {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

 .card__description {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

 .card__description a {
  color: rgb(241, 241, 241);
}

 .auth__container {
  max-width: 450px;
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 25px auto;
}

 .auth__heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

 form.new_user {
  margin-top: 20px;
}

 form.new_user input.auth__input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

 form.new_user input.auth__input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

 form.new_user input.auth__input::placeholder {
  color: rgb(170, 170, 170);
}

 form.new_user input.auth__input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

 form.new_user input.auth__forgot_password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

 form.new_user input.auth__forgot_password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

 form.new_user input.auth__auth_button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

 form.new_user input.auth__auth_button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

 form.new_user input.auth__auth_button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

 .auth__agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

 .auth__agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}


